.task-form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  min-width: 400px;

  mat-form-field {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.form-row {
  display: flex;
  gap: 1rem;

  mat-form-field {
    flex: 1;
  }
}
